.accueil{position:relative;min-height:100vh;display:flex;flex-direction:column}
.accueil-lcp-image{position:absolute;top:0;left:0;width:100%;height:100%;z-index:1;object-fit:cover}
@supports (aspect-ratio:1400 / 800){.accueil-lcp-image{aspect-ratio:1400 / 800}}
.accueilBlocText{background-color:rgb(48 48 48 / .7);display:flex;box-sizing:border-box;flex-direction:column;color:var(--white);justify-content:center;align-items:center;height:100vh;width:35vw;text-align:left;position:relative;padding:4rem;z-index:2}
.accueilBlocText h1{line-height:1.1;font-size:6rem;font-weight:500;margin-bottom:10%}
.adressesEtTelBloc{font-size:1.5rem;font-weight:300;display:flex;flex-direction:column;align-items:baseline}
.adressesEtTelBloc a{color:inherit;text-decoration:none}
.adressesEtTelBloc a:hover{transition:transform 0.5s;transform:scale(1.05)}
.adressesEtTelBloc span{margin-right:15px;min-width:48px;min-height:48px;padding:10px}
.adresseEtTel,.telephones{display:flex;align-items:center;justify-content:center}
.adresseEtTel{margin-bottom:15px;margin-right:8px}
.paragrapheAccueil{margin-top:50px;line-height:35px;font-size:20px}
.bouttonDecouvrir{margin-top:60px;font-weight:700;display:flex;justify-content:center;align-items:center;color:var(--black);font-size:22px}
.bouttonDecouvrir a{display:flex;justify-content:center;align-items:center;min-height:48px;min-width:48px;border-radius:10px;padding:20px 60px;background-color:var(--pink);color:inherit;text-decoration:none}
.bouttonDecouvrir a:hover{cursor:pointer;opacity:.9;transition:opacity 0.25s}
.PositionBlocHoraire{position:absolute;right:100px;bottom:100px;justify-content:center;flex-direction:column;align-items:center;padding:10px;box-shadow:3px 3px 3px rgb(0 0 0 / .5);min-height:90px;min-width:250px;background-color:rgb(41 41 41 / .7);z-index:2;display:flex;border-radius:15px;color:#bdf2ab;line-height:40px}
.titreEtTextetBoutton{width: 100%; height: auto}
@media screen and (max-width:576px){
.accueilBlocText{width:100vw;height:100%;padding:50px;text-align:center}
.accueilBlocText h1{font-size:3.5rem}
.adressesEtTelBloc{align-items:center}
.titreEtTextetBoutton{display:flex;justify-content:center;align-items:center;flex-direction:column}
.PositionBlocHoraire,.bouttonDecouvrir{display:none}
}
@media screen and (min-width:576px) and (max-width:768px){
.accueilBlocText{width:100vw}
.titreEtTextetBoutton{display:flex;justify-content:center;align-items:center;flex-direction:column}
.PositionBlocHoraire,.bouttonDecouvrir{display:none}
}
