.footerSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--white);
  padding-top: 50px;
}

.headerFooter {
  display: flex;
  justify-content: center;
  color: var(--black);
  margin-bottom: 25px;
  align-items: center;
  gap: 20px;
}

.footer-logo-img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.footerListe {
  display: flex;
  justify-content: center;
  color: var(--black);
  align-items: center;
  margin-bottom: 50px;
}

.footerListe ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footerListe a {
  padding: 12px 10px;
  display: inline-block;
  text-decoration: none;
  color: var(--black);
}

.footerListe a:hover {
  color: var(--pink);
  transition: 0.25s;
}

.elementListe1,
.elementListe5 {
  padding-right: 25px;
  padding-left: 25px;
  border-right: 1px solid var(--black);
}

.elementListe4 {
  padding-right: 25px;
  padding-left: 25px;
}

.footerDescription {
  margin-bottom: 25px;
  max-width: 900px;
  padding: 0 20px;
}

.footerDescription p {
  text-align: center;
  font-size: 14px;
  line-height: 25px;
  color: var(--black);
}

.copyrightFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  color: var(--black);
  font-size: 14px;
}

.copyrightFooter a {
  color: var(--black);
  text-decoration: none;
  font-weight: bold;
}

.copyrightFooter a:hover {
  color: var(--pink);
  transition: 0.25s;
}

.logoReseaux a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  min-width: 48px;
  min-height: 48px;
}

.logoReseaux a:hover {
  color: var(--pink);
  transition: 0.25s;
}

@media screen and (max-width: 576px) {
  .footerListe ul {
    flex-direction: column;
    align-items: center;
  }
  .elementListe1, .elementListe5 {
    border-right: none;
    padding: 0;
  }
  .footerDescription {
    width: 90%;
  }
}
