.bouttonRetour3 {
  margin: 100px 0 20px 50px;
  display: flex;
  align-items: center;
}

.bouttonRetour3 a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--black);
  font-weight: 700;
  font-size: 1.2rem;
  transition: color 0.25s ease;
}

.bouttonRetour3 a:hover {
  color: var(--pink);
}

.bouttonRetour3 span {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

@media screen and (max-width: 576px) {
  .bouttonRetour3 {
    margin: 80px 0 10px 20px;
  }
}
