.header {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  z-index: 999;
}

.logo:hover {
  cursor: pointer;
}

.logo img {
  transform: scale(0.6);
}

.logo img:hover {
  transition: 0.1s;
  transform: scale(0.79);
}

.header-logo-img {
  width: 100%;
  height: auto;
  max-width: inherit;
}

@media screen and (max-width: 576px) {
  .header {
    display: none;
  }
}
